@media screen and (min-width:1024px) {


// NavBar Section


    .container-lg{
    max-width: 80%;
     margin: 0 auto;
}
    .cart-profile-search {
        display: none;


    }

    .hamburger-btn {
        display: none
    }


    .nav-link {
        position: initial;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        padding-bottom: 5rem;
        width: fit-content;
        background-color: transparent;
        box-shadow: none;
        transition: none;


     
        & li {

            font-size: 2rem;
            font-weight: 500;
            display: inline-block;
            margin-left: 2.5rem;

            .search {
            
                    .search-icon {
                        &:hover {
                            color: var(--primaryColor)
                        }
                    }
            
                    .search-input {
                        position: absolute;
                        transform: translate(-19.8rem, 4.7rem);
                        transition: all 0.6s ease-in-out;
                        display: none;
            
                        &:hover {
                            color: var(--primaryColor)
                        }
            
                        &.active1 {
                            display: inline-block;
                        }
            
                        #search {
                            width: 25rem;
                            height: 3rem;
                            border-radius: 0.7rem;
                            border: 0.1rem solid var(--secondaryColor);
                            padding: 0.9rem;
                            color: var(--primaryColor);
                            transition: transform 0.6s ease-in-out;
                            position: relative;
                        }
            
                        .search-btn {
                            position: absolute;
                            transform: translate(-3rem, 0.7rem);
                            background: transparent;
                            border: none;
                            color: var(--primaryColor);
                        }
            
                    }
            
                }
            
                .profil {
                    &:hover {
                        color: var(--primaryColor)
                    }
                }





        }

        & li a {
            color: var(--secondaryColor);

            &.active::before {
                content: '';

                position: absolute;
                left: 0;
                bottom: -1rem;
                width: 40%;
                height: 0.2rem;
                background: var(--primaryColor);
                transition: all 0.8s ease-in-out;
            }


            &.active {
                color: var(--primaryColor);
            }

            &:hover {

                color: var(--primaryColor)
            }

            &.cart-lg {

                display: block;
            }
        }


    }



// End of NavBar Section

 // Banner Section


 .box {
     width: 100%;
     height: 90vh;
     background-size: cover !important;

 }

 .position1 {
     background-position: top 40% left 22% !important;

 }

 .position2 {
     background-position: top 40% right 28% !important;

 }

 .position3 {
     background-position: top 40% left 20% !important;
 }

 .position4 {
     background-position: top 40% right 22% !important;
 }


 .swiper .swiper-button-prev,
 .swiper .swiper-button-next {
     color: var(--primaryColor);
     font-size: 2rem;
     display: block;


 }


 .content-1st {

     flex-direction: column;
     float: right;
     height: 85vh;
     margin-right: 20rem;


     &>h2 {
         font-size: 7rem;
     }

     &>h3 {
         font-size: 3.5rem;
     }

     &>p {

         color: var(--primaryColor);
         font-weight: 600;
         font-size: 1.6rem
     }

     & .btn-container {
         padding-top: 1.6rem;
         margin-left: 12rem;


         & .btn a {
             color: var(--textColor);
             padding: 0.8rem 1.4rem;
             font-size: 1.6rem;
         }

     }


 }

 .content-3rd {

     flex-direction: column;
     float: right;
     height: 85vh;
     margin-right: 20rem;


     &>h2 {
         font-size: 7rem;
     }

     & .btn-container {
         padding-top: 1.6rem;
         margin-right: 5rem;


         & .btn a {
             color: var(--textColor);
             padding: 1rem 1.8rem;
             font-size: 1.6rem;
         }

     }


 }


 .content-2nd {
     flex-direction: column;
     float: left;
     height: 85vh;
     margin-left: 20rem;



     &>h2 {
         font-size: 7rem;
         width: 60%;
     }

     &>h4 {
         font-size: 3.4rem;
     }

     &>p {

         color: var(--primaryColor);
         font-weight: 600;
         font-size: 1.6rem
     }

     & span {
         color: var(--primaryColor);
     }

     & .save {
         color: red;
         font-size: 1.6rem;
     }

     & .btn-container {
         margin-top: 1.6rem;
         margin-left: 17rem;


         & .btn a {
             color: var(--textColor);
             padding: 1rem 1.8rem;
             font-size: 1.6rem;
         }



     }


 }





















}