.flash-container{

    width:100%;
    min-height: 67vh;
    overflow: hidden;



    .flash-wrapper{

        max-width: 100%;
        margin: auto;


        .flash-content{

            width: 100%;
            height: 51vh;
            background: var( --primary-variant);
            position: relative;
            border-radius: 0.7rem;
            z-index: 100;
            box-shadow: 0 0.5rem 1rem var(--greyColor);
            margin-top: 12.5rem;



            .flash-text{


                display: flex;
                align-items: left;
                justify-content: center;
                flex-direction: column;
                gap: 3rem;
                height: 100%;
                padding-left: 5vw;
                letter-spacing: 0.2rem;

                z-index: 100;

                .content{

                    h1{
                        font-size: var(--fs-700);
                        color: var(--flashColor);
                        font-weight: 700;
                        padding-bottom: 1rem;
                    }

                    h2{
                        font-size: var(--fs-300);
                        padding-bottom: 1rem;
                    }

                    p{
                        font-size: var(--fs-300);
                        padding-bottom: 1rem;
                    }

                    span{
                        text-decoration: line-through;
                        color: var(--flashColor);
                        font-weight: 600;
                    }

                }

            }
            .dead-line{
                
                display: flex;
                align-items: center;
                gap: 2rem;
                

                .deadline-format{

                width: fit-content;
                background: var(  --backgroundColor);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem;
                border-radius: 1rem;
                h2{
                    text-align: center;
                    font-size: var(--fs-300);
                }
                span{
                    font-size: var(--fs-300);
                    font-weight: 600;
                }
                    
                }
            }





            .flash-image{

                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(48%, -54.3%);
                display: flex;
                align-items: center;
                justify-content: center;
                place-items: center;
                z-index: -1;
                box-shadow: 0 0 2rem var(--greyColor);
                z-index: 1000;

    
            
            
            }
        }

    }
}



@media screen and (min-width:320px){
    .flash-container{
        .flash-wrapper{
            width: 95%;
            min-height: auto;
            .flash-content{
                .flash-image{
                    img{
                        height: 32rem;
                    }
                }
            }
        }
    }
}



@media screen and (min-width:360px){

    .flash-container{

        width:100%;
        min-height: 70vh;
   
   
    
        .flash-wrapper{
    
            max-width: 95%;
            margin: auto;
    
    
            .flash-content{
    
                width: 100%;
                height: 42vh;
                background: var( --primary-variant);
                position: relative;
                border-radius: 0.7rem;
                z-index: 100;
                box-shadow: 0 0.5rem 1rem var(--greyColor);
    
    
    
                .flash-text{
    
    

    
                    .content{
    
                        h1{
                            font-size: var(--fs-700);
                            color: var(--flashColor);
                            font-weight: 700;
                            padding-bottom: 1rem;
                        }
    
                        h2{
                            font-size: var(--fs-300);
                            padding-bottom: 1rem;
                        }
    
                        p{
                            font-size: var(--fs-300);
                            padding-bottom: 1rem;
                        }
    
                        span{
                            text-decoration: line-through;
                            color: var(--flashColor);
                            font-weight: 600;
                        }
    
                    }
    
                }
                .dead-line{
                    
                    
    
                    .deadline-format{
    
        
                    h2{
                        text-align: center;
                        font-size: var(--fs-300);
                    }
                    span{
                        font-size: var(--fs-300);
                        font-weight: 600;
                    }
                        
                    }
                }
    
    
    
    
    
                .flash-image{
    
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(48%, -54.4%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    place-items: center;
                    z-index: -1;
                    box-shadow: 0 0 2rem var(--greyColor);
    
                img{
                    height: 35rem;
                }
    
                
                
                }
            }
    
        }
    }
}


@media screen and (min-width:375px){

    .flash-container{

        width:100%;
        min-height: 70vh;
   
   
    
        .flash-wrapper{
    
            max-width: 95%;
            margin: auto;
    
    
            .flash-content{
    
                width: 100%;
                height: 47vh;
                background: var( --primary-variant);
                position: relative;
                border-radius: 0.7rem;
                z-index: 100;
                box-shadow: 0 0.5rem 1rem var(--greyColor);
    
    
    
                .flash-text{
    
    

    
                    .content{
    
                        h1{
                            font-size: var(--fs-700);
                            color: var(--flashColor);
                            font-weight: 700;
                            padding-bottom: 1rem;
                        }
    
                        h2{
                            font-size: var(--fs-300);
                            padding-bottom: 1rem;
                        }
    
                        p{
                            font-size: var(--fs-300);
                            padding-bottom: 1rem;
                        }
    
                        span{
                            text-decoration: line-through;
                            color: var(--flashColor);
                            font-weight: 600;
                        }
    
                    }
    
                }
                .dead-line{
                    
                    
    
                    .deadline-format{
    
        
                    h2{
                        text-align: center;
                        font-size: var(--fs-300);
                    }
                    span{
                        font-size: var(--fs-300);
                        font-weight: 600;
                    }
                        
                    }
                }
    
    
    
    
    
                .flash-image{
    
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(48%, -54.5%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    place-items: center;
                    z-index: -1;
                    box-shadow: 0 0 2rem var(--greyColor);
    
                img{
                    height: 35rem;
                }
    
                
                
                }
            }
    
        }
    }
}


@media screen and (min-width:390px){

    .flash-container{

        width:100%;
        min-height: 70vh;
   
   
    
        .flash-wrapper{
    
            max-width: 95%;
            margin: auto;
    
    
            .flash-content{
    
                width: 100%;
                height:37vh;
                background: var( --primary-variant);
                position: relative;
                border-radius: 0.7rem;
                z-index: 100;
                box-shadow: 0 0.5rem 1rem var(--greyColor);
    
    
    
                .flash-text{
    
    

    
                    .content{
    
                        h1{
                            font-size: var(--fs-800);
                            color: var(--flashColor);
                            font-weight: 700;
                            padding-bottom: 1rem;
                        }
    
                        h2{
                            font-size: var(--fs-400);
                            padding-bottom: 1rem;
                        }
    
                        p{
                            font-size: var(--fs-400);
                            padding-bottom: 1rem;
                        }
    
                        span{
                            text-decoration: line-through;
                            color: var(--flashColor);
                            font-weight: 600;
                        }
    
                    }
    
                }
                .dead-line{
                    
                    
    
                    .deadline-format{
    
        
                    h2{
                        text-align: center;
                        font-size: var(--fs-400);
                    }
                    span{
                        font-size: var(--fs-300);
                        font-weight: 600;
                    }
                        
                    }
                }
    
    
    
    
    
                .flash-image{
    
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(48%, -54.5%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    place-items: center;
                    z-index: -1;
                    box-shadow: 0 0 2rem var(--greyColor);
    
                img{
                    height: 35rem;
                }
    
                
                
                }
            }
    
        }
    }
}
@media screen and (min-width:393px){

    .flash-container{

        width:100%;
        min-height: 70vh;
   
   
    
        .flash-wrapper{
    
            max-width: 95%;
            margin: auto;
    
    
            .flash-content{
    
                width: 100%;
                height:36.9vh;
                background: var( --primary-variant);
                position: relative;
                border-radius: 0.7rem;
                z-index: 100;
                box-shadow: 0 0.5rem 1rem var(--greyColor);


               
    
    
    
            
            }
    
        }
    }
}




@media screen and (min-width:412px){

    .flash-container{

        width:100%;
        min-height: 50vh;
     
       
    
        .flash-wrapper{
    
            max-width: 95%;
            margin: auto;
    
    
            .flash-content{
    
                width: 100%;
               height: 40vh;
                background: var( --primary-variant);
                position: relative;
                border-radius: 0.7rem;
                z-index: 100;
                box-shadow: 0 0.5rem 1rem var(--greyColor);
    
    
    
                .flash-text{
    
    
                    display: flex;
                    align-items: left;
                    justify-content: center;
                    flex-direction: column;
                    gap: 3rem;
                    height: 90%;
                    padding-left: 5vw;
                    letter-spacing: 0.2rem;
    
                    z-index: 100;
    
                    .content{
    
                        h1{
                            font-size: var(--fs-800);
                            color: var(--flashColor);
                            font-weight: 700;
                            padding-bottom: 1rem;
                        }
    
                        h2{
                            font-size: var(--fs-400);
                            padding-bottom: 1rem;
                        }
    
                        p{
                            font-size: var(--fs-300);
                            padding-bottom: 1rem;
                        }
    
                        span{
                            text-decoration: line-through;
                            color: var(--flashColor);
                            font-weight: 600;
                        }
    
                    }
    
                }
                .dead-line{
                    
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    
    
                    .deadline-format{
    
                    width: fit-content;
                    background: var(  --backgroundColor);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.8rem;
                    border-radius: 1rem;
                    h2{
                        text-align: center;
                        font-size: var(--fs-500);
                    }
                    span{
                        font-size: var(--fs-300);
                        font-weight: 600;
                    }
                        
                    }
                }
    
    
    
    
    
                .flash-image{
    
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(48%, -55.1%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    place-items: center;
                    z-index: -1;
                    box-shadow: 0 0 2rem var(--greyColor);
    
                

                    img{

                        height: 41.5rem;
                    }
    
                
                
                }
            }
    
        }
    }
}

@media screen and (min-width:414px){

    .flash-container{

        width:100%;
        min-height: 50vh;
     
       
    
        .flash-wrapper{
    
            max-width: 95%;
            margin: auto;
    
    
            .flash-content{
    
                width: 100%;
               height: 41.1vh;
                background: var( --primary-variant);
                position: relative;
                border-radius: 0.7rem;
                z-index: 100;
                box-shadow: 0 0.5rem 1rem var(--greyColor);
    
    
    
                .flash-text{
    
    
                    display: flex;
                    align-items: left;
                    justify-content: center;
                    flex-direction: column;
                    gap: 3rem;
                    height: 90%;
                    padding-left: 5vw;
                    letter-spacing: 0.2rem;
    
                    z-index: 100;
    
                    .content{
    
                        h1{
                            font-size: var(--fs-800);
                            color: var(--flashColor);
                            font-weight: 700;
                            padding-bottom: 1rem;
                        }
    
                        h2{
                            font-size: var(--fs-400);
                            padding-bottom: 1rem;
                        }
    
                        p{
                            font-size: var(--fs-300);
                            padding-bottom: 1rem;
                        }
    
                        span{
                            text-decoration: line-through;
                            color: var(--flashColor);
                            font-weight: 600;
                        }
    
                    }
    
                }
                .dead-line{
                    
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    
    
                    .deadline-format{
    
                    width: fit-content;
                    background: var(  --backgroundColor);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.8rem;
                    border-radius: 1rem;
                    h2{
                        text-align: center;
                        font-size: var(--fs-500);
                    }
                    span{
                        font-size: var(--fs-300);
                        font-weight: 600;
                    }
                        
                    }
                }
    
    
    
    
    
                .flash-image{
    
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(48%, -55.1%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    place-items: center;
                    z-index: -1;
                    box-shadow: 0 0 2rem var(--greyColor);
    
                

                    img{

                        height: 41.5rem;
                    }
    
                
                
                }
            }
    
        }
    }
}




@media screen and (min-width:428px){

    .flash-container{

        width:100%;
        min-height: 50vh;
     
       
    
        .flash-wrapper{
    
            max-width: 95%;
            margin: auto;
    
    
            .flash-content{
    
                width: 100%;
               height: 42vh;
                background: var( --primary-variant);
                position: relative;
                border-radius: 0.7rem;
                z-index: 100;
                box-shadow: 0 0.5rem 1rem var(--greyColor);
    
    
    
                .flash-text{
    
    
                    display: flex;
                    align-items: left;
                    justify-content: center;
                    flex-direction: column;
                    gap: 3rem;
                    height: 90%;
                    padding-left: 5vw;
                    letter-spacing: 0.2rem;
    
                    z-index: 100;
    
                    .content{
    
                        h1{
                            font-size: var(--fs-800);
                            color: var(--flashColor);
                            font-weight: 700;
                            padding-bottom: 1rem;
                        }
    
                        h2{
                            font-size: var(--fs-400);
                            padding-bottom: 1rem;
                        }
    
                        p{
                            font-size: var(--fs-300);
                            padding-bottom: 1rem;
                        }
    
                        span{
                            text-decoration: line-through;
                            color: var(--flashColor);
                            font-weight: 600;
                        }
    
                    }
    
                }
                .dead-line{
                    
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    
    
                    .deadline-format{
    
                    width: fit-content;
                    background: var(  --backgroundColor);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.8rem;
                    border-radius: 1rem;
                    h2{
                        text-align: center;
                        font-size: var(--fs-500);
                        
                    }
                    span{
                        font-size: var(--fs-300);
                        font-weight: 600;
                    }
                        
                    }
                }
    
    
    
    
    
                .flash-image{
    
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(48%, -54.1%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    place-items: center;
                    z-index: -1;
                    box-shadow: 0 0 2rem var(--greyColor);
    
                

                    img{

                        height: 40rem;
                    }
    
                
                
                }
            }
    
        }
    }
}



@media screen and (min-width:500px){
    
    .flash-container{

        width:100%;
        min-height: 70vh;
 
    
        .flash-wrapper{
    
            max-width: 90%;
            margin: auto;
    
    
            .flash-content{
    
                width: 100%;
                height: 49vh;
                background: var( --primary-variant);
                position: relative;
                border-radius: 2rem;
                z-index: 100;
                box-shadow: 0 0.5rem 1rem var(--greyColor);
    
    
    
                .flash-text{
    
    
                    display: flex;
                    align-items: left;
                    justify-content: center;
                    flex-direction: column;
                    gap: 3rem;
                    height: 90%;
                    padding-left: 5vw;
                    letter-spacing: 0.2rem;
    
                    z-index: 100;
    
                    .content{
    
                        h1{
                            font-size: var(--fs-900);
                            color: var(--flashColor);
                            font-weight: 700;
                            padding-bottom: 1rem;
                        }
    
                        h2{
                            font-size: var(--fs-500);
                            padding-bottom: 1rem;
                        }
    
                        p{
                            font-size: var(--fs-400);
                            padding-bottom: 1rem;
                        }
    
                        span{
                            text-decoration: line-through;
                            color: var(--flashColor);
                            font-weight: 600;
                        }
    
                    }
    
                }
                .dead-line{
                    
                    display: flex;
                    align-items: center;
                    gap: 4rem;
                    
    
                    .deadline-format{
    
                    width: fit-content;
                    background: var(  --backgroundColor);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    border-radius: 1rem;
                    h2{
                        text-align: center;
                        font-size: var(--fs-500);
                    }
                    span{
                        font-size: var(--fs-300);
                        font-weight: 600;
                    }
                        
                    }
                }
    
    
    
    
    
                .flash-image{
    
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%, -59.5%);
                    height:max-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    place-items: center;
                    z-index: -1;
                
                }
            }
    
        }
    }
}