.flyer-wrapper{
    background: url('../assets/img/banner/b2.jpg') center/cover no-repeat;
    height:30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;



    & .flyer-text{
        
        text-align:center;
       


        & h2{

            color: var(--textColor);
             padding-bottom:1rem;
             font-weight: 600;

            & span{
                color:var(--flashColor)
            }



        }

        & a{
            color: var(--textColor);
        }
    

    }
}



.flyer2-wrapper{
    background: url('../assets/img/banner/b14.png') center/cover no-repeat;
    height:30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;



    & .flyer2-text{
        
        text-align:center;
       


        & h2{

            color: var(--secondaryColor);
             padding-bottom:1rem;
             font-size: var(--fs-600);
             font-weight: 600;

        }

                 & p {
        
                     font-size: var(--fs-400);
                     font-weight: 400;
                     padding-bottom: 1.5rem;
        
                     & span {
                         color: var(--flashColor)
                     }
        
                 }


        .form-wrapper{


            & #email{
                padding:0.7rem 2rem;
                border:none;
                border-bottom-left-radius: 0.5rem;
                border-top-left-radius: 0.5rem;
                background: var(--backgroundColor);
            }


            & .btn2{
              
                border-bottom-right-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                transform: translateX(-0.4rem);


                    & a {
                            color: var(--textColor);
                        }
            }
        }

        
    

    }
}


// shop image section
.img-container{
    width: 100%;
    margin-top:2.5rem;

    .img-wrapper{
        width: 95%;
        margin: 0 auto;

        .img img{
            width: 100%;
            border-radius: 0.7rem;
        }

        .img-text{
            text-align:center;
            padding-bottom:1rem;

            & h2{
                padding-bottom:1rem;
                & a{
                    color:var(--secondaryColor)
                }
            }
            & h3{
                padding-bottom:1rem;
            }
            .pre-fall{
                & .btn{
                    background: transparent;
                    & a{
                        color: var(--secondaryColor)
                    }
                }
            }
        }

        

            

               

            

        


    }


         .feature-content-container {
             margin-top: 4rem;
             display: grid;
             grid-template-columns: repeat(2, 1fr);
             column-gap: 0.5rem;
             row-gap: 2.5rem;
    
    
    
             & .feature-image-wrapper {
    
                 cursor: pointer;
                 display: inline-block;
    
    
    
    
                 & img {
                     display: inline-block;
                     width: 100%;
                     height: 26rem;
                     border-radius: 0.8rem;
                     padding: 0.3rem;
                     position:relative;
                 }
                  .wishlist{
                position: absolute;
                transform: translate(17.5rem, -25rem);
                
                font-size: var(--fs-400);

                &.active5{
                    color:red;
                }
            }
    
                 .item-details {
                     margin-left: 1.5rem;
                     padding: 3rem auto;
    
                     & h3 {
                         font-size: var(--fs-400);
                         font-weight: 550;
    
                     }
    
                     & p {
                         font-size: var(--fs-300);
                         font-weight: 400;
                     }
    
                     .add-cart {
    
    
                         padding-top: 1.3rem;
                         display: grid;
                         place-items: center;
    
    
                         & .btn {
    
                             padding: 0.7rem 3rem;
                             border-radius: 0.7rem;
    
                             & a {
                                 color: var(--textColor);
                                 font-size: var(--fs-300);
                                 font-weight: 600;
                                 width: 100%;
                             }
    
                         }
                     }
    
                 }
    
    
             }
         }
}

@media screen and (min-width:768px){

    // shop image section
.img-container{
    width: 100%;
    margin-top:2.5rem;
    overflow-x: hidden;

    .img-wrapper{
        width: 95%;
        margin: 0 auto;

        .img img{
            width: 100%;
            border-radius: 0.7rem;
        }

        .img-text{
        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom:1.5rem;

                padding-bottom:1.5rem;
                font-size: var(--fs-400);

                & a{
                    color:var(--secondaryColor);
            }
            & h3{
                padding-bottom:1.5rem;
                font-size: var(--fs-300);
            }
            .pre-fall{
                & .btn{
                    background: transparent;
                    & a{
                        color: var(--secondaryColor);
                        font-size:var(--fs-300);
                    }
                }
            }
        }
        


    }


        & .feature-content-container {
             margin-top: 4rem;
             display: grid;
             grid-template-columns: repeat(2, 1fr);
             column-gap: 0.5rem;
             row-gap: 2.5rem;
    
    
    
             & .feature-image-wrapper {
    
                 cursor: pointer;
                 display: inline-block;
    
    
    
    
                 & img {
                     display: inline-block;
                     width: 100%;
                     height: 36rem;
                     border-radius: 0.7rem;
                     padding: 0.3rem;
                 }
                                 .wishlist {
                                     position: absolute;
                                     transform: translate(31.5rem, -35rem);
                
                                     font-size: var(--fs-400);
                
                                     &.active5 {
                                         color: red;
                                     }
                                 }
    
                 .item-details {
                     margin-left: 1.5rem;
                     padding: 3rem auto;
    
                     & h3 {
                         font-size: var(--fs-400);
                         font-weight: 550;
    
                     }
    
                     & p {
                         font-size: var(--fs-300);
                         font-weight: 400;
                     }
    
                     .add-cart {
    
    
                         padding-top: 1.3rem;
                         display: grid;
                         place-items: center;
    
    
                         & .btn {
    
                             padding: 0.7rem 3rem;
                             border-radius: 0.7rem;
    
                             & a {
                                 color: var(--textColor);
                                 font-size: var(--fs-300);
                                 font-weight: 600;
                                 width: 100%;
                             }
    
                         }
                     }
    
                 }
    
    
             }
         }
}
}

@media screen and (min-width:1024px){


    .flyer2-container{
     background: url('../assets/img/banner/b14.png') center/cover no-repeat;

    .flyer2-wrapper {
        width: 85%;
        margin: 0 auto;
           
            // display: flex;
            // align-items: center;
            // justify-content: center;
            
    
    
    
            & .flyer2-text {
                // display: grid;
                // grid-template-columns: repeat(2, 1fr);
                // place-items:center;
                // column-gap:10rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap:35rem;
    
                
    
                & .text-col1{

                    & h2 {
                    
                            color: var(--secondaryColor);
                            padding-bottom: 1rem;
                            font-size: var(--fs-600);
                            font-weight: 600;
                          
                    
                        }
                    
                        & p {
                    
                            font-size: var(--fs-400);
                            font-weight: 400;
                            
                            
                    
                            & span {
                                color: var(--flashColor)
                            }
                    
                        }
                }


                & .text-col2{


                    .form-wrapper {
                    
                    
                            & #email {
                                padding: 0.7rem 2rem;
                                border: none;
                                border-bottom-left-radius: 0.5rem;
                                border-top-left-radius: 0.5rem;
                                background: var(--backgroundColor);
                            }
                    
                    
                            & .btn2 {
                    
                                border-bottom-right-radius: 0.5rem;
                                border-top-right-radius: 0.5rem;
                    
                    
                                & a {
                                    color: var(--textColor);
                                }
                            }
                        }


                }
    
    
                
    
    
                
    
    
    
    
            }
        }

   }


         // shop image section
         .img-container {
             width: 100%;
             margin-top: 2.5rem;
    
             .img-wrapper {
                 width: 95%;
                 margin: 0 auto;
                display: grid;
                place-items: center;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 0.5rem;
                row-gap: 2.5rem;
    
                 .img{
                    padding-top: 2.8rem;

                 & img {
                    
                     width: 100%;
                     border-radius: 0.7rem;
                 }
                }
    
                 .img-text {
                     display:flex;
                     flex-direction:column;
                     align-items: center;
                     justify-content: center;
                     padding-bottom: 1.5rem;
    
                     & h2 {
                        font-size: var(--fs-500);
                         padding-bottom: 1.5rem;
    
                         & a {
                             color: var(--secondaryColor)
                         }
                     }
    
                     & h3 {
                         padding-bottom: 1.5rem;
                         font-size: var(--fs-400);
                     }
    
                     .pre-fall {
                         & .btn {
                             background: transparent;
    
                             & a {
                                 color: var(--secondaryColor);
                                 font-size: var(--fs-400);
                             }
                         }
                     }
                 }
    
    
    
             }
    
    
             & .feature-content-container {
                 margin-top: 4rem;
                 display: grid;
                 grid-template-columns: repeat(2, 1fr);
                 column-gap: 0.5rem;
                 row-gap: 2.5rem;
    
    
    
                 & .feature-image-wrapper {
    
                     cursor: pointer;
                     display: inline-block;
    
    
    
    
                     & img {
                         display: inline-block;
                         width: 100%;
                         height: 36rem;
                         border-radius: 0.8rem;
                         padding: 0.3rem;
                     }
                                         .wishlist {
                                             position: absolute;
                                             transform: translate(28rem, -35rem);
                    
                                             font-size: var(--fs-400);
                    
                                             &.active5 {
                                                 color: red;
                                             }
                                         }
    
                     .item-details {
                         margin-left: 1.5rem;
                         padding: 3rem auto;
    
                         & h3 {
                             font-size: var(--fs-500);
                             font-weight: 600;
    
                         }
    
                         & p {
                             font-size: var(--fs-400);
                             font-weight: 500;
                         }
    
                         .add-cart {
    
    
                             padding-top: 1.3rem;
                             display: grid;
                             place-items: center;
    
    
                             & .btn {
    
                                 padding: 0.7rem 3rem;
                                 border-radius: 0.7rem;
    
                                 & a {
                                     color: var(--textColor);
                                     font-size: var(--fs-400);
                                     font-weight: 600;
                                     width: 100%;
                                 }
    
                             }
                         }
    
                     }
    
    
                 }
             }
         }

}       

