.footer-container{
overflow: hidden;
   

    .footer-wrapper{
        max-width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 3rem;
        padding-top: 6rem;


    
        & .col{
            & h2{
                font-size: var(--fs-500);
                transform: translateY(-0.7rem);

            }

            & h3 {

                font-size: var(--fs-300);
                 padding-bottom: 0.7rem;
                //  text-align:center;
            }

            & p{
                font-size: var(--fs-200);
                font-weight: 400;
                padding-bottom: 0.7rem;
            }

                         & a {
                             color: var(--secondaryColor);
                         }

            & .social-media{
                & a{
                    font-size: var(--fs-400);
                    padding-right:1rem;
                }
            }

            & img{
                border:0.2rem solid var(--primaryColor);
                width: 100%;
                border-radius:0.5rem
               
            }

            & #img{
                border:none;
            }
        }

    
    }

         .reserved {
             font-size: var(--fs-200);
             text-align: center;
             margin-top:1rem;

             & a{
                color: var(--primaryColor)

            }
            & .scroll-up{
                background:var(--primaryColor);
                padding:0.5rem 0.8rem;
                display:inline-block;
                color:var(--textColor);
                border-radius:0.5rem;
                transform:translateX(8rem);
                visibility:hidden;
                z-index: 1;

                // & .fa-arrow-up{
                //     z-index:100;
                // }
                
            }
                         & .fixed-nav {
                             visibility: visible;
                             position: fixed;
                             bottom:3rem;
                             left:33rem;
                         
            
                         }

         }
}



@media screen and (min-width:768px){


    .footer-container {
    
    
    
            .footer-wrapper {
                max-width: 85%;
                margin: 0 auto;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 2rem;
                column-gap: 28rem;
                padding-top: 6rem;
    
    
    
                & .col {
                    & h2 {
                        font-size: var(--fs-600);
                        padding-bottom: 0.7rem;
                    }
    
                    & h3 {
    
                        font-size: var(--fs-400);
                        padding-bottom: 0.7rem;
                        //  text-align:center;
                    }
    
                    & p {
                        font-size: var(--fs-300);
                        font-weight: 400;
                        padding-bottom: 0.7rem;
                    }
    
                    & a {
                        color: var(--secondaryColor);
                    }
    
                    & .social-media {
                        & a {
                            font-size: var(--fs-500);
                            padding-right: 1rem;
                        }
                    }
    
                    & img {
                        border: 0.2rem solid var(--primaryColor);
                        width: 100%;
                        border-radius: 0.5rem
                    }
    
                    & #img {
                        border: none;
                         width: 100%;
                    }
                }
    
    
            }
    
            .reserved {
                font-size: var(--fs-300);
                text-align: center;
    
                & a {
                    color: var(--primaryColor)
                }
            }
        }


}



@media screen and (min-width:1024px){


    .footer-container {
        min-height: 50vh;
    
    
    
            .footer-wrapper {
                max-width: 85%;
                margin: 0 auto;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                row-gap: 2rem;
                column-gap: 10rem;
                padding-top: 6rem;
    
    
    
                & .col {
                    & h2 {
                        font-size: var(--fs-700);
                        padding-bottom: 0.7rem;
                    }
    
                    & h3 {
    
                        font-size: var(--fs-500);
                        padding-bottom: 0.7rem;
                        //  text-align:center;
                    }
    
                    & p {
                        font-size: var(--fs-400);
                        font-weight: 400;
                        padding-bottom: 0.7rem;
                    }
    
                    & a {
                        color: var(--secondaryColor);
                    }
    
                    & .social-media {
                        & a {
                            font-size: var(--fs-600);
                            padding-right: 1rem;
                        }
                    }
    
                    & img {
                        border: 0.2rem solid var(--primaryColor);
                        width: 100%;
                        border-radius: 0.5rem
                    }
    
                    & #img {
                        border: none;
                         width: 100%;
                    }
                }
    
    
            }
    
            .reserved {
                font-size: var(--fs-300);
                text-align: center;
    
                & a {
                    color: var(--primaryColor)
                }
            }
        }


}